.color-test {
    width: 100%;
    height: 31px;
    border-radius: 3px;
}
.images-form {
    height: 300px;
    background-size: cover;
    background-position: center center;
}
.stat-admin {
    border: 1px solid #d8d8d8;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 2px;
    line-height: 135px;
    padding: 10px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 300!important;
    color: #545454;
    box-shadow: 0px 2px 5px 0px rgba(177, 177, 177, 0.75);
}
.messages {
    width: 900px;
    margin: auto auto;
    padding: 22px;
    top: 10px;
    box-shadow: 0px 4px 5px 0px rgba(189,189,189,1);
    text-align: center;
    background: #fff;
    z-index: 1;
    font-size: 16px;
    color: #b77da3;
}
td.ttt {
    font-weight: bold;
    background: #e8e8e8;
    border-bottom: 1px solid #288428;
}
a.checkout-product {
    font-weight: bold;
    text-decoration: none;
}
.order-details{
    font-size: 14px;
    color: #424242
}
.order-details > ul#products {
    margin-top: 20px;
    font-weight: bold;
}
img.flag-language-admin {
    width: 30px;
}
